body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    background-color: aqua;
}
.a{
    height: 100px;
    width: 100%;
    background-color: rgb(3, 19, 19); 
    gap: 12px;
    
}
.ab{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10%;
    margin-bottom: 30px;
}
.ab:hover {
    background-color: deeppink;
    color: white;

    
}
